<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>

<div class="load-html" data-source="/navbar"></div>

<form action="/upload" method="post" class="text-center">
    <div class="mx-auto" style="width: 400px;">
        <label class="form-label" for="inputKey">Key</label>
        <input aria-describedby="inputKeyHelp" class="form-control" id="inputKey" name="key" type="text">
        <div class="form-text" id="inputKeyHelp">Input a key</div>
    </div>
    <div class="mx-auto" style="width: 400px;">
        <label class="form-label" for="inputValue">Value</label>
        <input aria-describedby="inputValueHelp" class="form-control" id="inputValue" name="value" type="text">
        <div class="form-text" id="inputValueHelp">Input a value</div>
    </div>
    <div class="mx-auto" style="width: 400px;">
        <label class="form-label" for="inputTTL">TTL</label>
        <input aria-describedby="inputTTLHelp" class="form-control" id="inputTTL" name="ttl" placeholder="60"
               type="text">
        <div class="form-text" id="inputTTLHelp">Input a TTL (seconds)</div>
    </div>
    <button class="btn btn-primary" style="width: 200px;" type="submit">Submit</button>
</form>

<script type="text/javascript">
    $(function () {
        $(".load-html").each(function () {
            $(this).load(this.dataset.source);
        });
    });
</script>

</body>
</html>